<!DOCTYPE html>

<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    {% if page.style %}
    <link rel="stylesheet" type="text/css" href="{{ page.style }}" />
    {% endif %}
  </head>

  <body>
    <div class="header">
      <h1>
        <a href="//stefano.dissegna.me">Stefano Dissegna</a>
      </h1>
      <div class="sub">
      </div>
    </div>

    <div class="nav">
      <ul>
        <li>
          <a href="//stefano.dissegna.me">Home</a>
        </li>
      </ul>

      <h2>Public Profiles</h2>
      <ul>
        <li>
          <a href="http://www.linkedin.com/pub/stefano-dissegna/23/b03/349">Linkedin</a>
        </li>
        <li>
          <a href="https://github.com/stefano">Github</a>
        </li>
      </ul>

      <h2>Contacts</h2>
      <ul>
        <li>
          <a href="http://www.google.com/recaptcha/mailhide/d?k=012PG8mGc5ZCsOj6p_fYzL0A==&c=cStrpzYf4jqr4lQwk7m12UiBtm1fbDL19O3bp8U15Us=">Send me an email</a>
        </li>
      </ul>
    </div>

    <div class="content">
      {{ content }}
    </div>

  </body>
</html>
